# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
**/doc/api/

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
**/key.properties
**/*.jks
**/*.keystore

# macOS
.DS_Store

# Generated
coverage/
